---
Checks: >
  *,
  -llvmlibc-*,
  -fuchsia-*,
  -altera-*,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -google-default-arguments,
  -google-readability-casting,
  -google-runtime-int,
  -google-runtime-operator,
  -hicpp-signed-bitwise,
  -hicpp-use-nullptr,
  -modernize-use-nullptr,
  -readability-function-cognitive-complexity,
  -readability-implicit-bool-conversion,
  -readability-isolate-declaration
CheckOptions:
  readability-identifier-length.MinimumVariableNameLength: 2
  readability-identifier-length.IgnoredVariableNames: '_.*'
  readability-identifier-length.MinimumParameterNameLength: 1
  readability-identifier-length.IgnoredParameterNames: '_.*'
  readability-identifier-length.MinimumLoopCounterNameLength: 1
  readability-identifier-length.IgnoredLoopCounterNames: '_.*'
  readability-identifier-length.MinimumExceptionNameLength: 2
  readability-identifier-length.IgnoredExceptionVariableNames: '_.*'
  cppcoreguidelines-narrowing-conversions.IgnoreConversionFromTypes: Dim
  cppcoreguidelines-narrowing-conversions.WarnOnIntegerNarrowingConversion: false
  readability-implicit-bool-conversion.AllowPointerConditions: true
